@using GPnaviServer.Models;

@{
    ViewData["Title"] = "時間帯別集計";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />


<div class="container">
    <div class="col-sm-10 col-md-10 col-md-offset-6 mx-auto">
        <h2 style="color: #2952a3;"><img src="~/images/time_title.png" class="img-responsive">&nbsp;時間帯別集計</h2><br />

        @*TODO:PowerBIで集計展示*@

    </div>
</div>

<script>
</script>
